@import 'reset.css';

body {
    background-color:  #103518;
    color: white;
    position: fixed; 
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-size: 2em;
    line-height: 78%;
    letter-spacing: .16rem;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.flex {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.container {
    padding-top: 4rem;
    display: flex;
    height: 100%;
}

.icon {
    margin: 1rem .625rem 3rem .625rem;
}

.info {
    text-align: justify;
    width: 73vw;
    visibility: hidden;
}

@media screen 
and (min-width: 620px) {
    body {
        width: 100%;
    }
}

@media screen
and (min-width: 960px) {
    body {
        font-size: 18px;
        width: 100%;
    }
    
    .container {
        margin-top: 2.7rem; 
    }

    .info {   
        width: 36vw;
    }
}
