@font-face {
  font-family: 'Nimbus Mono';
  src: local('Nimbus Mono'),
    url(../fonts/nimbusmono-regular.otf) format('opentype');
}

@font-face {
  font-family: 'Nimbus Mono';
  font-weight: bold;
  src: local('Nimbus Mono'),
    url(../fonts/nimbusmono-bold.otf) format('opentype');
}
